{% extends 'base.html' %}

{% block title %}Editar Equipamento{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-body">
        <h3 class="mb-4 fw-bold" >Editar Equipamento</h3>
        <h6 class="mb-4 text-danger">O número de pratimônio não pode ser alterado!</h6> 

<form method="post" class="card p-3 shadow-sm">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="text-danger small mt-1">
                    {% for error in field.errors %}
                        • {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    <a href="{% url 'listar_equipamentos' %}" class="btn btn-secondary">Cancelar</a>
</form>

    </div>
</div>
{% endblock %}