{% extends 'equipamentos/base.html' %}

{% block content %}
<h2 class= "fw-bold" >Equipamentos Excluídos</h2>
{% if equipamentos %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Número</th>
        <th>Status</th>
        <th>Usuário</th>
        <th>Setor</th>
        <th>Observação</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for eq in equipamentos %}
        <tr>
          <td>{{ eq.nome }}</td>
          <td>{{ eq.tipo }}</td>
          <td>{{ eq.numero_patrimonio }}</td>
          <td>{{ eq.status }}</td>
          <td>{{ eq.usuario_atual }}</td>
          <td>{{ eq.setor }}</td>
          <td>{{ eq.observacao }}</td>
          <td>         
            <a href="{% url 'restaurar_equipamento' eq.id %}" class="btn btn-success btn-sm">Restaurar</a>
            <a href="{% url 'delete_equipamento' eq.id %}" class="btn btn-danger btn-sm">Excluir Permanentemente</a>

          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>Nenhum equipamento excluído.</p>
{% endif %}
{% endblock %}
